
{% assign title = block.settings.product.title  %}

<div class="flex flex-col text-center mb-2 mt-6 rounded-xl py-7 px-5 md:mx-0 mx-3 border border-gray-200">
  <h3 class="pb-1 uppercase font-header text-3xl">Need additional images?</h3>
  <p class="text-gray-500">Click the button below</p>
  <button
      is="party-button"
      class="flex mt-4 hover:bg-gray-300 items-center w-48 justify-center text-center mx-auto py-2 px-2 rounded-xl bg-gray-200"
  >
      <span class="pr-3 text-sm underline uppercase">Request</span>
      <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-5 h-5"
      >
          <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
      </svg>
  </button>
  <div class="flex hidden field" id="email-div">
    <input type="email" data-product-name="{{ title }}" id="email" placeholder="Email" class="field__input">
    <button class="newsletter-form__button field__button" id="email-button">
      <svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
      </path></svg>
    </button>
  </div>
</div>


{% schema %}
{
  "name": "Pre Owned Link",
  "target": "section",
  "javascript": "image-request.js",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true },
  ]
}
{% endschema %}